.events-view-more a{
  text-decoration: none;
  background-color: #f1f1f1;
  color: #000;
  border: solid 1px #cbcbcb !important;
  height: 14px;
  outline:none;
  font-size: 10px;
  line-height: 14px;
  float:right;
}

.ui-tooltip-close{
  cursor:pointer;
  position:absolute;
  top:0;
  right:0;
}

.ui-tooltip ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ui-tooltip ul h5{
  font-size:13px;
  color: #3D9B46;
  margin: -6px 0 4px;
}

.ui-tooltip .fc-event{
  position:relative;
}

.ui-tooltip .ui-resizable-handle{
  position:absolute;
}

.ui-tooltip .fc-corner-right, .form-bubble-content .fc-corner-left{
  margin-left:0;
  margin-right:0;
}

.fc-event.arrow-right .fc-event-inner{
  background-image: url("images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: right 2px;
}

.fc-corner-right .fc-event-inner, .fc-corner-left .fc-event-inner{
  margin-left: 0 !important;
  margin-right: 0 !important;
  border:none;
}

.fc-event.arrow-left .fc-event-inner{
  margin-left: 7px !important;
  padding-right: 7px;
  width: auto;
}

.fc-event.arrow-left{
  background: url("images/arrow-left.png") no-repeat scroll left 2px #3366CC;  
}
